body {
    background: rgb(226, 218, 101);
    font: normal 15pt Arial;
}
header {
    color: rgb(247, 247, 247);
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(22, 22, 22);

}
div{
    text-align: center;
    padding: 8px;
}
footer {
    color: rgb(25, 9, 250);
    text-align: center;
    font-style: italic;
}